#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
 .weather-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:20px;
 }
 .weather-card{
  border: 2px solid;
  border-radius: 5px;
 }